.custom-navbar {
  background-color: rgba(0, 0, 0, 0.96);
  border: 1px solid #9c47ed;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  color: #9c47ed;
}

.navbar-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.navbar-title {
  font-size: 1.2rem;
  color: #9c47ed;
}

.nav-link {
  color: #9c47ed !important;
  transition: background 0.2s, color 0.2s;
  border-radius: 4px;
  padding: 8px 12px;
}

.nav-link:hover {
  background-color: #9c47ed;
  color: #000 !important;
}


/* Modal personalizado */
.custom-modal {
  background-color: #0f0f0f;
  border: 2px solid #9c47ed;
  border-radius: 12px;
  color: #fff;
  box-shadow: 0 8px 24px rgba(156, 71, 237, 0.5);
  overflow: hidden;
}

.custom-modal .modal-header h5 {
  color: #9c47ed;
  font-weight: 500;
}

.custom-modal .modal-body {
  font-size: 1rem;
  color: #cfa9ff;
}

/* Botones del modal */
.custom-modal .btn-outline-primary {
  --bs-btn-color: #9c47ed;
  --bs-btn-border-color: #9c47ed;
  --bs-btn-hover-bg: #9c47ed;
  --bs-btn-hover-border-color: #9c47ed;
  --bs-btn-hover-color: #000;
  width: 140px;
}

.custom-modal .btn-outline-secondary {
  --bs-btn-color: #cfa9ff;
  --bs-btn-border-color: #cfa9ff;
  --bs-btn-hover-bg: #cfa9ff;
  --bs-btn-hover-border-color: #cfa9ff;
  --bs-btn-hover-color: #000;
  width: 140px;
}

@media (max-width: 576px) {
  .custom-modal .modal-footer {
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }
}

